<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Your Role</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="rolecontainer">
        <h1>Select Your Role</h1>
        <div class="role-box-container">
            <div class="role-box patient-box">
                <a href="{{ url_for('patient_page') }}" class="role-button">Patient</a>
            </div>
            <div class="role-box doctor-box">
                <a href="{{ url_for('doctor_page') }}" class="role-button">Doctor</a>
            </div>
        </div>
    </div>
</body>
</html>
